*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(148, 148, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    background-color: white;
    border-radius: 0 10px 0 10px;
}

@media (max-width: 376px){
    .quiz h2{
       font-size: 100%;
    }
    .header h1{
        font-size: 150%;
    }
    .timezone{
        font-size: 70%;
    }
    .timer-span{
        font-size: 70%;
    }
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 0;
    border-bottom: 3px solid rgb(233, 224, 224);
}

.header, h1 .timer{
    padding-bottom: 10px;
}

.header h1{
    /* font-size: 200%; */
    font-family: sans-serif;
    font-weight: 500;
}

 .timer{
     display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 150%;
    background-color: burlywood;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 10px;
} 

.timezone{
    background-color: white;
    padding: 5px 10px;
    color: green;
}

.timer-span{
    background: green;
    color: white;
    padding: 5px 10px;
    user-select: none;

}

.time-line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quiz{
    padding: 20px;
}

.quiz h2{
    /* border: 1px solid black; */
    /* font-size: 150%; */
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
 
.quiz .btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.quiz .btn:hover:not([disabled]){
    background-color: blueviolet;
    color: white;
    transition: all 0.5s ease-in-out;
}

.quiz .btn:disabled{
cursor:no-drop;
}

.button-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.next-btn{
    padding: 10px 25px;
    font-size: 120%;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: rgb(46, 46, 89);
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: none;
}

.quiz-number{
    font-size: 120%;
    font-family: sans-serif;
    font-weight: 500;
    margin: 5px;
}

.one, .five{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
}

.correct{
    background-color: green;
    color: white;
}

.incorrect{
    background-color: red;
    color: white;
}